# CHANGELOG

All notable changes to this project will be documented in this file.

This project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html)
and [Conventional Commits](https://www.conventionalcommits.org/en/v1.0.0/).

<!--next-version-placeholder-->
{% for version, release in context.history.items() %}
## [{{ version }}]({{ release.compare_url }}) ({{ release.tagged_date.strftime("%Y-%m-%d") }})

{% if release.elements.breaking %}
### ⚠ BREAKING CHANGES

{% for commit in release.elements.breaking %}
* {% if commit.scope %}**{{ commit.scope }}**: {% endif %}{{ commit.descriptions[0] }}{% if commit.breaking_descriptions %} ({{ commit.breaking_descriptions[0] }}){% endif %} ([{{ commit.hexsha[:7] }}]({{ commit.commit_url }}))
{% endfor %}
{% endif %}

{% if release.elements.feature %}
### Features

{% for commit in release.elements.feature %}
* {% if commit.scope %}**{{ commit.scope }}**: {% endif %}{{ commit.descriptions[0] }} ([{{ commit.hexsha[:7] }}]({{ commit.commit_url }})){% if commit.pull_request_number %} ([#{{ commit.pull_request_number }}]({{ commit.pull_request_url }})){% endif %}
{% endfor %}
{% endif %}

{% if release.elements.fix %}
### Bug Fixes

{% for commit in release.elements.fix %}
* {% if commit.scope %}**{{ commit.scope }}**: {% endif %}{{ commit.descriptions[0] }} ([{{ commit.hexsha[:7] }}]({{ commit.commit_url }})){% if commit.pull_request_number %} ([#{{ commit.pull_request_number }}]({{ commit.pull_request_url }})){% endif %}
{% endfor %}
{% endif %}

{% if release.elements.refactor %}
### Code Refactoring

{% for commit in release.elements.refactor %}
* {% if commit.scope %}**{{ commit.scope }}**: {% endif %}{{ commit.descriptions[0] }} ([{{ commit.hexsha[:7] }}]({{ commit.commit_url }}))
{% endfor %}
{% endif %}

{% if release.elements.performance %}
### Performance Improvements

{% for commit in release.elements.performance %}
* {% if commit.scope %}**{{ commit.scope }}**: {% endif %}{{ commit.descriptions[0] }} ([{{ commit.hexsha[:7] }}]({{ commit.commit_url }}))
{% endfor %}
{% endif %}

{% endfor %}
